langgraph 
langchain
langchain-openai
openai 
fastapi
uvicorn[standard]
ultralytics
mcp[cli]
python-multipart 
pydantic-settings 
pydantic 
loguru
opencv-python
python-dotenv
pytest
torch 
torchvision
transformers
huggingface_hub[hf_xet]
numpy
streamlit