langgraph 
langchain
langchain-openai
fastapi
uvicorn[standard]
ultralytics
python-multipart 
pydantic-settings 
pydantic 
loguru
opencv-python-headless
python-dotenv
pytest
torch 
torchvision
transformers
huggingface_hub[hf_xet]
streamlit